@model up_web_app.Models.upwebapp

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>upwebapp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prodName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prodName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prodPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prodPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prodDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prodDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prodSupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prodSupplierName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
